/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-content-summary {
	border: 1px dotted #999;

	.col-summary {
		background: #efefef;
		padding: 10px;
		font-style: italic;
	}
}
